body {
  background-color: #ebebeb;
  padding: 50px 50px;
}

#page_title {
  margin: 20px 0;
  font-weight: bold;
  font-size: 2rem;
}

table {
  border: 2px transparent;
  background-color: #ebebeb;
  width: 100%;
}

th {
  background-color: #c0c0c0;
  padding: 8px;
}

tr {
  text-align: center;
}

tr:nth-child(even) {
  background-color: #c0c0c0;
}

.area {
  margin: 10px 0;
}

#dropdown {
  display: flex;
  justify-content: flex-end;
}

#table {
  padding: 10px 0;
  font-size: 1rem;
}

#pagination {
  background-color: #ebebeb;
  padding: 10px 10px;
  text-align: center;
}

#pagination > button {
  cursor: pointer;
  margin: 0 10px;
  border: 0;
  background-color: #ebebeb;
  font-weight: 550;
  font-size: 1rem;
}

#pagination > button.active {
  color: #ff6700;
}

button.arrow {
  color: #ff6700;
}

.hidden {
  display: none;
}
